@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

a{
    text-decoration: none;
}

.header{
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
}

.nav{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.nav ,
.nav_item{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav_logo,
.nav_link,
.button{
    color: #fff;
}
.nav_logo{
    font-size: 25px;
    text-shadow: 0 0 3px black; 
}

.nav_item{
    column-gap: 45px;
    justify-content: center;
    text-shadow: 0 0 3px black; 
}

.nav_link:hover{
    color: #d9d9d9;
}

.predict{
    padding: 11%;
    background: url(bg1.jpeg);
    background-size: cover;
}

.predict{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("bg1.jpeg");
    background-size: cover;
    background-position: center;
}

.form_container{
    
    border: 1px solid #7d2ae8;
    position: absolute;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px #0a0909;
    float: left;
}

.form_container h2{
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}

.input_box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
    
}

.input_box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border: 1.5px solid black;
    border-radius: 5px;
}

.input_box input:focus{
    border-color: #7d2ae8;
}

.button{
    background: #7d2ae8;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}

label{
    font-size: 15px;
    font-weight: 500;
}
