      /* Center the page content */
      h1{
        font-family: "Poppins" , sans-serif;
        font-size: 36px;
        color: white;
        text-align: center;
        
      }
      body {
        background-image: url("bg1.jpeg");
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        
      }
      
      /* Style the form */
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
      }

      /* Style the input fields */
      input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
      }

      /* Style the submit button */
      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
      }

      /* Style the output container */
      #output {
        display: flex;
        flex-direction: column;
        width: 53%;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
      }

      /* Style the plot container */
      #plot {
        width: 90%;
        height: 500px;
        color: rgb(255, 255, 255);
        background: linear-gradient(135.9deg, rgb(109, 25, 252) 16.4%, rgb(125, 31, 165) 56.1%);
      }

      .sec{
          position: absolute;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background: linear-gradient(135.9deg, rgb(109, 25, 252) 16.4%, rgb(125, 31, 165) 56.1%);;
          width: 95%;

      }

      th, td {
        border-bottom: 1px solid #ddd;
        text-align: center;
      }
      thead, tr{
          text-align: center;
      }

      #table{
        margin-top: 5%;
        margin-left: 5%;
        color:black;
        font-weight: bold;
        border-color: black;
        background-color: white;
        font-family: system-ui;
        margin-right: 100px;
        margin-bottom: 3.4%;
        text-align: center;
      }
