@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

a{
    text-decoration: none;
}

.header{
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
}

.nav{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.nav ,
.nav_item{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav_logo,
.nav_link,
.button{
    color: #fff;
}
.nav_logo{
    font-size: 25px;
    text-shadow: 0 0 3px black; 
}

.nav_item{
    column-gap: 45px;
    justify-content: center;
    text-shadow: 0 0 3px black; 
}

.nav_link:hover{
    color: #d9d9d9;
}

.button{
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 3px #0a0909;
    text-shadow: 0 0 3px black; 
}

.button:active{
    transform: scale(0.98);
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("bg1.jpeg");
    background-size: cover;
    background-position: center;
}

.home::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.home.show::before {
    opacity: 1;
    pointer-events: auto;
}

.live_price-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container2{
    padding: 220px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    column-gap: 60px;
    transition: all 0.4s ease-out;
}

.home.show .container2 {
    display: none;
    transition: all 0.4s ease-out;
}

.container2 .coin-price{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px #0a0909;
    margin: 7px;
    background-color: white;
}

.container2 .coin-price .logo{
    width: 70px;
    margin-right: 10px;
}

.container2 .coin-price .logo img{
    width: 100%;
}

.container2 .coin-price div{
    display: block;
}

.container2 .coin-price div h1{
    font-size: 20px;
    font-weight: bold;
}


.form_container{
    position: absolute;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-out;
}

.signup_form{
    display: none;
}

.home.show .form_container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.form_container.active .signup_form{
    display: block;
}

.form_container.active .login_form{
    display: none;
}

.form_close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.form_container h2{
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}

.input_box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
    
}

.input_box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
}

.input_box input:focus{
    border-color: #7d2ae8;
}

.input_box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input_box i.email,
.input_box i.password,
.input_box i.name{
    left: 0;
    color: #707070;
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password,
.input_box input:focus ~ i.name{
    color: #7d2ae8;
}

.input_box i.pw_hide{
    right: 0;
    font-size: 18px;
    color: #707070;
    cursor: pointer;
}

.option_field{
    margin-top: 14px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.form_container a{
    color: #7d2ae8;
    font-size: 12px;
}

.form_container a:hover{
    text-decoration: underline;
}

.checkbox{
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
    font-size: 12px;
}

.checkbox input{
   accent-color: #7d2ae8;
}
.checkbox label{
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: #0b0217;
}

.form_container .button{
    background: #7d2ae8;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}

.login-signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(bg1.jpeg);
    background-size: cover; 
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    justify-content: top;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 7px black; 
    
}

.contact .content p{
    font-weight: 300;
    color: #fff;
    text-shadow: 0 0 7px black; 
}

.container1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container1 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container1 .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container1 .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container1 .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
    text-shadow: 0 0 7px #0a0909 ;
}

.container1 .contactInfo .box .text h3{
    font-weight: 500;
    color: #ffff;
    text-shadow: 0 0 7px black; 
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
    box-shadow: 0 0 8px #0a0909;
    border-radius: 2%;
    backdrop-filter: blur(4px);
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;   
}

.contactForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputbox input,
.contactForm .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox Textarea:focus ~ span,
.contactForm .inputbox Textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputbox input[type="submit"]{
    width: 100px;
    background: #7d2ae8;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    align-items: center;
}

.about1{
    background: linear-gradient(135.9deg, rgb(109, 25, 252) 16.4%, rgb(125, 31, 165) 56.1%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section{
    margin: 4% 10% ;
    background:url(pic.jpeg) no-repeat left;
    background-size: 55%;
    padding: 3%;
    overflow: hidden;
}

.inner-container{
    box-shadow: 0 0 8px #0a0909;
    border-radius: 2%;
    width: 55%;
    float: right;
    background: linear-gradient(135.9deg, rgb(109, 25, 252) 16.4%, rgb(125, 31, 165) 56.1%);
    padding: 100px;
}

.inner-container h1{
    text-shadow: 0 0 7px black; 
    color: #fff;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 600;
}

.text{
    font-size: 20px;
    text-shadow: 0 0 7px black; 
    color: white;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.members{
    color: white;
    text-shadow: 0 0 7px black; 
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}